@using AhmedovTravel.Core.Models.Transport
@model IEnumerable<TransportViewModel>

@{
    ViewBag.Title = "My Transport";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var transport in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@transport.ImageUrl" alt="Transport Image">
            <div class="card-body">
                <h5 class="card-title mt-1">@transport.TransportType</h5>
            </div>

            <form class="input-group-sm" asp-route-transportId="@transport.Id" asp-controller="Transport" asp-action="RemoveFromCollection" method="post">
                <input class="fs-6 btn btn-success mb-3 p-2" type="submit" value="Remove" />
            </form>
        </div>
    }
</div>